<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingList</title>

    <!-- jquery-ui css -->
    @*<script src="~/lib/jqueryui/jquery-ui.min.js"></script>*@
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bitirme_Projesi.styles.css" asp-append-version="true" />

</head>
<body d-flex flex-column h-100>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    @*<span class="text-gradient d-inline"><i class="fa-solid fa-cart-shopping"></i></span>*@
                    <img src="~/img/logo.png" class="nav-logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index">Envanter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingList" asp-action="Index">Alışveriş Listeleri</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="py-5">
        <div class="container px-5 pb-5">
            <main role="main" class="flex-shrink-0">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; Shopping List @DateTime.Now.Year</div></div>
                <div class="col-auto">
                    <a href="https://github.com/ahmet-er" target="_blank">
                        <span class="text-gradient d-inline"><i class="fa-brands fa-square-github fa-lg"></i></span>
                    </a>
                    <span class="mx-1">&middot;</span>
                    <a href="https://www.linkedin.com/in/ahmet-er/" target="_blank">
                        <span class="text-gradient d-inline"><i class="fa-brands fa-linkedin fa-lg"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>