html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Inventory/Index tablolarýn mobilde alt alta olmasý için */
/*@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }
}
*/

@media (max-width: 1400px) {
    .col-md-6 {
        width: 100%;
    }
}

/* div üzerine hover'la pointer yapma */
.hand-card{

}
.hand-card:hover{
    cursor: pointer;
}

.card-footer {
    border-top: 0;
}