@model CategoryViewModel
@using Bitirme_Projesi.Extensions;

<div class="row">
    <div class="col">
        <h3><span class="text-gradient d-inline"><i class="fa-solid fa-tags"></i> | Kategori Ekle</span></h3>
    </div>
</div>
<hr />



<div class="row">
    <div class="col-6">
        <form asp-controller="Inventory" asp-action="AddCategory" method="post" class="mb-5">
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label">Kategori Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<input type="submit" value="Kategori Ekle" class="btn btn-primary" />*@
                <button class="btn btn-primary" type="submit">
                    <i class="fa-solid fa-plus"></i> Kategori Ekle
                </button>
            </div>
        </form>

        @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState.GetErrorMessages())
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}