@model ProductViewModel

<div class="row">
    <div class="col">
        <h3><span class="text-gradient d-inline"><i class="fa-solid fa-boxes-stacked"></i> | Ürün Ekle</span></h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-6">
        <form asp-controller="Inventory" asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label">Ürün Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label">Fiyat</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ImageFilePath" class="control-label">Ürün Görsel</label>
                <input type="file" name="file" asp-for="ImageFilePath" class="form-control" />
                <span asp-validation-for="ImageFilePath" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="control-label">Kategori</label>

                @if (Model.Categories != null && Model.Categories.Any())
                {
                    <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
                        <option value="0">Tüm Kategoriler</option>
                    </select>
                }
                else
                {
                    <p>Kategori yok</p>
                }
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Ürün Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}