

<div class="row">
    <div class="col">
        <h3><span class="text-gradient d-inline"><i class="fa-solid fa-list"></i> | Listelerim</span></h3>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-controller="ShoppingList" asp-action="AddShoppingList">
            <i class="fa-solid fa-list-ul"></i> | Liste Ekle
        </a>
    </div>
</div>
<hr />
<div class="row">
    <!--list1-->
    <div class="col-md-12 mb-4">
        <div class="card clickable-card" onclick="cardClicked()">
            <img src="" class="card-img-top" alt="">
            <div class="card-body hand-card">
                <h5 class="card-title">Liste 1</h5>
                <p class="card-text">test açıklama</p>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary mr-2" onclick="editCard()"><i class="fa-regular fa-pen-to-square fa-lg"></i></button>
                <button type="button" class="btn btn-danger" onclick="deleteCard()"><i class="fa-solid fa-x fa-lg"></i></button>
            </div>
        </div>
    </div>
    <!--list2-->
    <div class="col-md-12 mb-4">
        <div class="card bg-light" onclick="cardClicked()">
            <img src="" class="card-img-top" alt="">
            <div class="row">
                <div class="col-md-10">
                    <div class="card-body hand-card clickable-card">
                        <h5 class="card-title">Liste 2</h5>
                        <p class="card-text">test açıklama</p>
                    </div>
                </div>
                <div class="col-md-2 p-3">
                    <div class="card-footer text-right bg-transparent">
                        <div class="row">
                            <button type="button" class="btn btn-outline-success mb-2" onclick="editCard()"><i class="fa-regular fa-pen-to-square fa-xl"></i></button>
                            <button type="button" class="btn btn-outline-danger" onclick="deleteCard()"><i class="fa-solid fa-x fa-xl"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--list3-->
    <div class="col-md-12 mb-4">
        <div class="card clickable-card" onclick="cardClicked()">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Liste 3</h5>
                <p class="card-text">test açıklama</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function cardClicked(itemId) {
            // Kartın tıklandığında yapılacak işlemler buraya yazılır.
            // Örneğin, seçilen ürünün detay sayfasına yönlendirebilirsiniz.
            // window.location.href = "/Product/Detail/" + itemId;
            window.location.href = "Inventory/Index";
        }
    </script>
}